body{
  background: pink;
}

ul{
  font-family: monospace;
  font-size: bold;

}

h1{
  text-align: center;
}

.name{
  display: flex;
  align-items: center;
  justify-content: center;

}

.main-container{
  display: flex;
  background-color: green;
 justify-content: center;
 align-items: center;
}

.main{
  display: flex;
  background-color: orange;
  align-items: center;
  justify-content: center;
}

.sketch{
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reading{
  text-align: center;
  /* background-color: green; */
  padding-left: 50px;
  padding-right: 50px;
  font-family: Yuseimagic-regular;
  font-size: 30px;

}
